<div class="home-get-help">
<h2>Get Help</h2>
<ul class="usa-card-group">
  <li class="tablet:grid-col-3 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4 >Find Treatment</h4>
      </header>
      <div class="usa-card__body">
        <p>Millions of Americans have a substance use disorder.</p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Find a facility near you</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-3 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4 >National Suicide Prevention Lifeline <i class="fas fa-external-link-alt"></i></h4>
      </header>
      <div class="usa-card__body">
        <p>Free and confidential support for people in distress, 24/7.</p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">1-800-273-TALK (8255)</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-3 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>Behavioral Health Treatment Service Locator</h4>
      </header>
      <div class="usa-card__body">
        <p>Free and confidential support for people in distress, 24/7.</p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Find a location near you</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-3 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h4>National Suicide Prevention Helpline</h4>
      </header>
      <div class="usa-card__body">
        <p>Treatment referral and information, 24/7.</p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">1-800-662-HELP (4357)</button>
      </div>
    </div>
  </li>
</ul>
</div>