<div class="home-glance">
<h2>SAMHSA At a Glance</h2>
<ul class="usa-card-group">
  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">Who We Are</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__body">
        <p>We lead public health efforts to advance the behavioral health of the nation.</p>
      </div>
    </div>
  </li>

  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">Acting Assistant Secretary</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>

      <div class="usa-card__body">
        <p>Tom Coderre</p>
      </div>
    </div>
  </li>

  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">Apply for a Grant</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>

      <div class="usa-card__body">
        <p>We have resources to help you find and apply for funding opportunities.</p>
      </div>
    </div>
  </li>

  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">Find Evidence-Based Practices</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>

      <div class="usa-card__body">
        <p>Our collection of scientifically-based resources includes toolkits and clinical practice guidelines.</p>
      </div>
    </div>
  </li>

  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">View Data Collections</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>

      <div class="usa-card__body">
        <p>Our Center for Behavioral Health Statistics and Quality leads the nation in behavioral health data.</p>
      </div>
    </div>
  </li>

  <li class="tablet:grid-col-6 usa-card usa-card--flag">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading">Tribal Affairs</h3>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>

      <div class="usa-card__body">
        <p>We work with the Tribal Technical Advisory Committee to address issues among American Indians/ Alaska Natives.</p>
      </div>
    </div>
  </li>
</ul>
</div>