
<div class="home-public-messages">
  <ul class="usa-card-group">
    <h2>Public Messages</h2>
    <ul class="usa-card-group">
      <li class="tablet:grid-col-6 usa-card usa-card--flag">
        <div class="usa-card__container">
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
            </div>
          </div>
          <div class="usa-card__body">
            <p>Learn about the risks of meth</p>
          </div>
        </div>
      </li>
      
      <li class="tablet:grid-col-6 usa-card usa-card--flag">
        <div class="usa-card__container">
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
            </div>
          </div>
          <div class="usa-card__body">
            <p>Living well with serious mental illness</p>
          </div>
        </div>
      </li>

      <li class="tablet:grid-col-6 usa-card usa-card--flag">
        <div class="usa-card__container">
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
            </div>
          </div>
          <div class="usa-card__body">
            <p>Resources for families coping with mental and substance use disorders</p>
          </div>
        </div>
      </li>

      <li class="tablet:grid-col-6 usa-card usa-card--flag">
        <div class="usa-card__container">
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
            </div>
          </div>
          <div class="usa-card__body">
            <p>Mental illness and substance use in young adults</p>
          </div>
        </div>
      </li>
    </ul>
  </ul>

  <h2 class="margin-x-0 margin-y-2">Headings only</h2>
<ul class="usa-collection usa-collection--condensed">
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://digital.gov/guides/mobile-principles/?dg">Public messages on suicide prevention</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">

          </svg>
          Digital.gov
        </li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://digital.gov/guides/mobile-principles/?dg">Real risks of marijuana use</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">

          </svg>
          Digital.gov
        </li>
      </ul>
    </div>
  </li>
  </ul>
  <button class="usa-button usa-button--outline">View All Public Messages</button>
</div>