<div class="home-current-topic">
<h2>Current Topics</h2>
<ul class="usa-card-group">
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Saving Lives Through Increased Support for Mental and Behavioral Health Needs Report</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://via.placeholder.com/350x150" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">SAMHSA releases preliminary report on the Drug Abuse Warning Network</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Addressing Mental Health, Homelessness, and Addiction Report</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">SAMHSA releases report on behavioral health workforce needs</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">New publication available: "Crisis Services: Meeting Needs, Saving Lives"</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Publication</button>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">SOR program demonstrates positive results for patients served</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
        </div>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">View Report</button>
      </div>
    </div>
  </li>


</ul>
</div>